.header {
  display: flex;
  justify-content: space-between;
  background-color: #f0e68c;
  padding: 10px;
}

.thread-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  min-height: 100vh;
  text-align: center;
}

.thread-list-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.thread-list {
  width: 100%;
  padding: 0;
  list-style: none;
}

.thread-item {
  background-color: yellow;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid;
  border-radius: 3px;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}